<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <h1>
            Crowdfunding para el Podcast Margarita La Soberana
        </h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group class="toolbar">
    <mat-tab label="Resumen"  ></mat-tab>
    <mat-tab label="Recompensas"  ></mat-tab>
</mat-tab-group>
<div #vakiDetail class="container">
    <vaki-challenge-vaki-detail></vaki-challenge-vaki-detail>
</div>
<div #rewardList class="container">
    <vaki-challenge-reward-list></vaki-challenge-reward-list>
</div>
