.vaki-detail{
    display: grid;
    grid-template-columns: auto 440px;
    padding-top: 30px;
    .vaki__image{
        max-height: 520px;
    }
}

.vaki__detail__contribute{
    padding-top: 30px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 20% 35% 35%;
}

.vaki__detail__reward{
    padding-top: 30px;
}

.vaki__categories{
    padding-top: 30px;
    display: grid;
    grid-template-columns: auto 40px;
}